{{ header(3) }}

## Система

### Характеристики процессора:
```
{{ sh("sudo inxi -C") }}
```

### Характеристики памяти:
```
{{ sh("sudo inxi -m") }}
```

### Версия gcc:
```
{{ sh("gcc --version | head -n 1") }}
```

### Версия OpenMP:
```
{{ sh("./target/version") }}
```

### Остальные Характеристики
```
{{ sh("uname -rm") }}
```

## Оценка алгоритма

### Оценка временной сложности

- Лучший случай: $O(\displaystyle\frac{n^2}{p})$
- Худший случай: $O(\displaystyle\frac{n^2}{p})$


### Экспериментальные данные

#### Среднее время, ускорение и эффективность

![image](target/avgtime.png)

Ускорение работы программы по сравнению с однопоточной версией

![image](target/acceleration.png)

Эффективность работы программы

![image](target/efficiency.png)

## Выводы
На устройстве, на котором проходило тестирование - 4 физических ядра, из-за чего значительный
и вплоть до 4 ядер ожидаемое время исполнения совпадает с экспериментальными данными. На 7 потоках мы видим резкое уменьшение эффективности,
которое не будет сглажено. Вероятно из-за cache miss'ов.

## Исходный код

```c 
{{ sh('cat src/main.c') }}
```

